<div class="container mt-5">
  <h2 class="mb-4 text-center">Notre Équipe</h2>
  <div class="row">
    <!-- Membre de l'équipe -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lodato maxime</h5>
          <p class="card-text">Maxime est un développeur web débutant, spécialisé en HTML, CSS, Ruby et Bootstrap. Il combine créativité et techniques de base pour construire des sites web visuellement attrayants et fonctionnels. Motivé par l'apprentissage continu, il est engagé à améliorer ses compétences et à explorer de nouvelles technologies.</p>
        </div>
      </div>
    </div>

    <!-- Répétez les blocs ci-dessus pour chaque membre de l'équipe -->
  </div>
</div>
