<!-- app/views/comments/edit.html.erb -->
<h1>Modifier le Commentaire</h1>

<%= form_with(model: @comment, url: gossip_comment_path(@gossip, @comment), method: :patch) do |form| %>
  <%= form.label :content %>
  <%= form.text_field :content %>

  <%= form.submit "Modifier" %>
<% end %>