<h1>Bienvenue sur notre site de potins !</h1>
<div class="gossips">
  <% @gossips.each do |gossip| %>
    <div class="gossip">
      <p><%= link_to gossip.title, gossip_path(gossip) %></p>
      <p>Auteur: <%= gossip.author.first_name %></p>
    </div>
  <% end %>
</div>
