<h1>Bienvenue sur notre site de potins !</h1>

<div class="gossips">
  <% @gossips.each do |gossip| %>
    <div class="gossip">
      <p><%= link_to gossip.title, gossip_path(gossip) %></p>
      <p>Auteur: <%= gossip.author.first_name %></p>
    </div>
  <% end %>
</div>

<% @latest_gossip = Gossip.last %>

<% if @latest_gossip %>
  <div>
    <h2>Dernier potin :</h2>
    <p><strong>Titre :</strong> <%= @latest_gossip.title %></p>
    <p><strong>Contenu :</strong> <%= @latest_gossip.content %></p>
  </div>
<% else %>
  <p>Aucun potin n'est disponible pour le moment.</p>
<% end %>