<h1><%= @gossip.title %></h1>
<p><%= @gossip.content %></p>
<p>Auteur: <%= link_to @gossip.author.first_name, author_path(@gossip.author) %></p>
<p>Date de publication: <%= @gossip.created_at.strftime("%d/%m/%Y à %H:%M") %></p>
